@media screen and (min-width: 480px) {
    .card {
        margin: 0px 2.4% 15px 2.4%;
        width: 95%;
    }
}

@media screen and (min-width: 640px) {
    .card {
        margin: 5px 1.49% 10px 1.49%;
        width: 47%;
    }
}

@media screen and (min-width: 1024px) {
    .card {
        margin: 5px 0.5% 10px 0.5%;
        width: 23.99%;
    }
}

.cardContainer {
    /* background-color:lightseagreen; */
    overflow: auto;
    width: 100%;
}

.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 4px 4px 5px 0px black;  /* [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color] */
    float: left;
    min-height: 200px;
}

.card h4 {
    text-align: center;
}

.cardContent {
    padding: 5px 15px;
}

div dl dt {
    color: tomato;
    font-weight: bold;
}